body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  font-family: "Catamaran";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.spacing {
  padding-left: 12%;
  padding-right: 12%;
  overflow: auto;
}

@media only screen and (max-device-width: 480px) {
  .spacing {
    padding-left: 0%;
    padding-right: 0%;
    overflow: auto;
  }
}
